.text {
    font-family: var(--ff-para);
    font-size: var(--fs-xx-small);
    color: var(--clr-visible-text);
    text-align: left;
    padding: 0 1rem;
    margin-left: 1rem;
  }
  .text .box {
    width: 80px;
    height: auto;
    float: right;
    padding-right: 1rem;
  }
  .text p {
    padding-right: 1rem;
    font-size: inherit;
  }

  /* media queries */

  
  @media (min-width: 400px) {
    .text .box {
      width:120px;
    }
  }
  @media (min-width: 700px) {
    .text .box {
      width: 160px;
    }
  }
  @media (min-width: 1024px) {
    .text .box {
      width: 200px;
    }
  }
  @media (min-width: 1200px) {
    .text .box {
      width: 240px;
    }
  }
 
/*
  @media (min-width: 640px) {
    .text p {
      font-size: var(--fs-small)
    }
  }
  @media (min-width: 1024px) {
    .text p {
      font-size: var(--fs-med);
    }
  }

  @media (min-width: 1300px) {
    .text p {
      font-size: var(--fs-l-med);
    }
  }*/
  