/* blackwork gallery container */

#blackwork-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    height: 150vh;
    width: 96vw;
    gap: 0.2em;
    padding: 0.5em 0;
    margin: auto;
}
#blackwork-gallery {
    text-align: center;
    color: var(--clr-visible-text);
    font-family: var(--ff-para);
  }
#blackwork-gallery .gallery-img {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

/* Images */

#blackwork-gallery .img1 {
    background-image: url("../assets/blackwork/thumbs/img1.jpg");
}
#blackwork-gallery .img2 {
    background-image: url("../assets/blackwork/thumbs/img2.jpg");
}
#blackwork-gallery .img3 { 
    background-image: url("../assets/blackwork/thumbs/img3.jpg");
}
#blackwork-gallery .img4 {
    background-image: url("../assets/blackwork/thumbs/img4.jpg");  
}
#blackwork-gallery .img5 {
    background-image: url("../assets/blackwork/thumbs/img5.jpg");   
}
#blackwork-gallery .img6 { 
    background-image: url("../assets/blackwork/thumbs/img6.jpg");
}
#blackwork-gallery .img7 {
    background-image: url("../assets/blackwork/thumbs/img7.jpg"); 
}
#blackwork-gallery .img8 {
    background-image: url("../assets/blackwork/thumbs/img8.jpg");
}

@media screen and (min-width: 820px){
    #blackwork-gallery {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto;
        height: 40vh;
        width: 96vw;
        gap: 0.2em;
        padding: 0.5em 0;
        margin: auto;
    }
}
    