/* gallery container */



#new-school-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    height: 150vh;
    width: 96vw;
    gap: 0.2em;
    padding: 0.5em 0;
    margin: auto;
}
#new-school-gallery {
    text-align: center;
    color: var(--clr-visible-text);
    font-family: var(--ff-para);
}
#new-school-gallery .gallery-img {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

/* Images */

#new-school-gallery .img1 {
    background-image: url("../assets/newschool/thumbs/acoustic-guitar-thumb.jpg");
}
#new-school-gallery .img2 {
    background-image: url("../assets/newschool/thumbs/cat-thumb.jpg");
}
#new-school-gallery .img3 { 
    background-image: url("../assets/newschool/thumbs/galatic-empire-thumb.jpg");
}
#new-school-gallery .img4 {
    background-image: url("../assets/newschool/thumbs/knuckles-thumb.jpg");  
}
#new-school-gallery .img5 {
    background-image: url("../assets/newschool/thumbs/ohana-thumb.jpg");   
}
#new-school-gallery .img6 { 
    background-image: url("../assets/newschool/thumbs/pencil-thumb.jpg");
}
#new-school-gallery .img7 { 
    background-image: url("../assets/newschool/thumbs/rebel\'s-pheonix-thumb.jpg");
}


/* media queries */

@media screen and (min-width: 820px){
    #new-school-gallery {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: auto;
        height: 40vh;
        width: 96vw;
        gap: 0.2em;
        padding: 0.5em 0;
        margin: auto;
    }
}
    