/* other-styles-gallery container */


#other-styles-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    height: 150vh;
    width: 96vw;
    gap: 0.2em;
    padding: 0.5em 0;
    margin: auto;
}
#other-styles-gallery {
    text-align: center;
    color: var(--clr-visible-text);
    font-family: var(--ff-para);
  }
#other-styles-gallery .gallery-img {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

/* Images */

#other-styles-gallery .img1 {
    background-image: url("../assets/other/thumbs/baby-groot-thumb.jpg");
}
#other-styles-gallery .img2 {
    background-image: url("../assets/other/thumbs/bio-mechanical-thumb.jpg");
}
#other-styles-gallery .img3 { 
    background-image: url("../assets/other/thumbs/elijah-thumb.jpg");
}
#other-styles-gallery .img4 {
    background-image: url("../assets/other/thumbs/french-bulldog-with-abstract-motif-thumb.jpg");  
}
#other-styles-gallery .img5 {
    background-image: url("../assets/other/thumbs/geometric-pattern-thumb.jpg");   
}
#other-styles-gallery .img6 { 
    background-image: url("../assets/other/thumbs/lemon-thumb.jpg");
}
#other-styles-gallery .img7 {
    background-image: url("../assets/other/thumbs/pink-moon-(nick-drake)-thumb.jpg"); 
}
#other-styles-gallery .img8 {
    background-image: url("../assets/other/thumbs/rosary-thumb.jpg");
}


/* media queries */

@media screen and (min-width: 820px){
    #other-styles-gallery {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto;
        height: 40vh;
        width: 96vw;
        gap: 0.2em;
        padding: 0.5em 0;
        margin: auto;
    }
}
    

