/* realistic gallery */

#realistic-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    height: 150vh;
    width: 96vw;
    gap: 0.2rem;
    padding: 0.5rem 0;
    margin: auto;
}
#realistic-gallery {
    text-align: center;
    color: var(--clr-visible-text);
    font-family: var(--ff-para);
}
#realistic-gallery .gallery-img {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

/* Images */

#realistic-gallery .img1 {
    background-image: url("../assets/realistic/thumbs/bear-thumb.jpg");
}
#realistic-gallery .img2 {
    background-image: url("../assets/realistic/thumbs/cherry-blossoms-thumb.jpg");
}
#realistic-gallery .img3 { 
    background-image: url("../assets/realistic/thumbs/chester-bennington-thumb.jpg");
}
#realistic-gallery .img4 {
    background-image: url("../assets/realistic/thumbs/freddie-mercury-thumb.jpg");  
}
#realistic-gallery .img5 {
    background-image: url("../assets/realistic/thumbs/jesus-christ-thumb.jpg");   
}
#realistic-gallery .img6 { 
    background-image: url("../assets/realistic/thumbs/lion-thumb.jpg");
}
#realistic-gallery .img7 {
    background-image: url("../assets/realistic/thumbs/native-american-woman-thumb.jpg"); 
}
#realistic-gallery .img8 {
    background-image: url("../assets/realistic/thumbs/owl-and-snow-leopard-thumb.jpg");
}
#realistic-gallery .img9 {
    background-image: url("../assets/realistic/thumbs/palm-tree-thumb.jpg");
}
#realistic-gallery .img10 {
    background-image: url("../assets/realistic/thumbs/pull-the-pin-(stereophonics)-thumb.jpg");  
}
#realistic-gallery .img11 {
    background-image: url("../assets/realistic/thumbs/roses-thumb.jpg");   
}
#realistic-gallery .img12 { 
    background-image: url("../assets/realistic/thumbs/roses-with-clock-thumb.jpg");
}
#realistic-gallery .img13 {
    background-image: url("../assets/realistic/thumbs/snake-sleeve-thumb.jpg"); 
}
#realistic-gallery .img14 {
    background-image: url("../assets/realistic/thumbs/stag-thumb.jpg");
}
#realistic-gallery .img15 {
    background-image: url("../assets/realistic/thumbs/wolf-thumb.jpg");
}

@media screen and (min-width: 820px){
    #realistic-gallery {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
        height: 120vh;
        width: 96vw;
        gap: 0.2em;
        padding: 0.5em 0;
        margin: auto;
    }
}
    
