/* realistic gallery */

#realistic-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    height: 150vh;
    width: 96vw;
    gap: 0.2rem;
    padding: 0.5rem 0;
    margin: auto;
}
#realistic-gallery {
    text-align: center;
    color: var(--clr-visible-text);
    font-family: var(--ff-para);
}
#realistic-gallery .gallery-img {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

/* Images */

#realistic-gallery .img1 {
    background-image: url("../assets/realistic/thumbs/img1.jpg");
}
#realistic-gallery .img2 {
    background-image: url("../assets/realistic/thumbs/img2.jpg");
}
#realistic-gallery .img3 { 
    background-image: url("../assets/realistic/thumbs/img3.jpg");
}
#realistic-gallery .img4 {
    background-image: url("../assets/realistic/thumbs/img4.jpg");  
}
#realistic-gallery .img5 {
    background-image: url("../assets/realistic/thumbs/img5.jpg");   
}
#realistic-gallery .img6 { 
    background-image: url("../assets/realistic/thumbs/img6.jpg");
}
#realistic-gallery .img7 {
    background-image: url("../assets/realistic/thumbs/img7.jpg"); 
}
#realistic-gallery .img8 {
    background-image: url("../assets/realistic/thumbs/img8.jpg");
}
#realistic-gallery .img9 {
    background-image: url("../assets/realistic/thumbs/img9.jpg");
}
#realistic-gallery .img10 {
    background-image: url("../assets/realistic/thumbs/img10.jpg");  
}
#realistic-gallery .img11 {
    background-image: url("../assets/realistic/thumbs/img11.jpg");   
}
#realistic-gallery .img12 { 
    background-image: url("../assets/realistic/thumbs/img12.jpg");
}
#realistic-gallery .img13 {
    background-image: url("../assets/realistic/thumbs/img13.jpg"); 
}
#realistic-gallery .img14 {
    background-image: url("../assets/realistic/thumbs/img14.jpg");
}
#realistic-gallery .img15 {
    background-image: url("../assets/realistic/thumbs/img15.jpg");
}

@media screen and (min-width: 820px){
    #realistic-gallery {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
        height: 120vh;
        width: 96vw;
        gap: 0.2em;
        padding: 0.5em 0;
        margin: auto;
    }
}
    
