:root {
    --ff-para: 'Noto Sans', sans-serif;
    --ff-display-tom: 'Noto Sans Display', sans-serif;
    --ff-headings: 'Noto Serif', serif;
    --ff-display-tats: 'Noto Serif Display', serif;

    --fs-xxx-lge: 3rem;
    --fs-xx-lge: 2.75rem;
    --fs-x-lge: 2.5rem;
    --fs-lge: 2.25rem;
    --fs-l-med: 2rem;
    --fs-med: 1.75rem;
    --fs-s-med: 1.5rem;
    --fs-small: 1.25rem;
    --fs-x-small: 1rem;
    --fs-xx-small: 0.75rem;

    --fw-bold: 700;
    --fw-semi-bold: 600;
    --fw-regular: 400;

    --clr-bg: hsl(29, 100%, 95%);
    --clr-head: hsl(29, 100%, 80%);
    --clr-smoke-shadow: hsl(29, 100%, 10%);
    --clr-invisible-text: hsl(29, 100%, 80%);
    --clr-visible-text: hsl(29, 100%, 20%);
    --clr-visible-text-pale: hsla(29, 100%, 20%, 0.5);
}


/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
form, input, button, textarea, select {
  font: inherit;
  border: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/*
 end of Josh's Custom CSS Reset
 */

 body {
    background-color: var(--clr-bg);
 }
 

 /*setup for the header*/

 .display {
    position: relative;
    width: 100%;
    height: 12vw;
    background-color: var(--clr-bg);
    border-bottom: 1vw solid var(--clr-visible-text);
 }

 .display h1 {
    color: var(--clr-invisible-text);
    text-shadow: 0 0 .5vw var(--clr-smoke-shadow), 0 0 1vw var(--clr-smoke-shadow), 0 0 1.5vw var(--clr-smoke-shadow), 0 0 2vw var(--clr-smoke-shadow), 0 0 2.5vw var(--clr-smoke-shadow), 0 0 3vw var(--clr-smoke-shadow);
    letter-spacing: 0.5vw;
    position: absolute;
    top: 4vw;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--ff-display-tats);
    font-size: var(--fs-xx-small);
    font-weight: var(--fw-bold);
 }
 .display #hamburger {
    position: fixed;
    top: 0;
    right: 0;
    color: var(--clr-visible-text);
    z-index: 1;
    font-size: var(--fs-small);
    cursor: pointer;
    transition: margin-left .5s;
    margin-top: 1rem;
    padding: 0.1rem 0.2rem 0.1rem 0.2rem;
 }
 .display #hamburger:hover {
   background-color: var(--clr-visible-text);
   color: var(--clr-bg);
 }
 
 /*set up for the navbar*/

nav {
    transition: background-color 0.5s;
 }
 nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: var(--clr-visible-text);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
 }
 nav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: var(--fs-x-small);
    color: var(--clr-bg);
    display: block;
    transition: 0.3s;
 }
 nav a:hover {
    font-weight: var(--fw-semi-bold);
    text-decoration-line: underline;
 }
 ul {
   list-style-type: none;
 }

/*set up for the lead photo*/

 .leadphoto {
    width:40%;
    height:auto;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
   
 }

 /* set up for the subdisplays */
 
 .subdisplay {
   position: relative;
   width: 70%;
   height: auto;
   background-color: var(--clr-bg);
   border-top: .5vw solid var(--clr-visible-text);
  margin: 0 auto;
}
.subdisplay h2 {
   color: var(--clr-visible-text);
   text-align: center;
   font-family: var(--ff-headings);
   font-size: var(--fs-xx-small);
   font-weight: var(--fw-semi-bold);
   padding: 0.75em;
 }
 .grid-container1 .box1 {
  grid-area: box1;
 }
 .grid-container1 .box2 {
  grid-area: box2;
 }
 .grid-container1 .box3 {
  grid-area: box3;
 }
 .grid-container1 .box4 {
  grid-area: box4;
 }
 .grid-container1 .box5 {
  grid-area: box5;
 }
 .grid-container1 .box6 {
  grid-area: box6;
 }
 .grid-container1 {
   display: grid;
   grid-template-areas:
        'box1'
        'box2'
        'box3'
        'box4'
        'box5'
        'box6';
   background-color: none;
   width: 95%;
   height: auto;
   margin: auto;
   justify-content: center;
   align-items: center
 }
.grid-container1 > p {
   width: 90%;
   height: auto;
   padding: 1em;
   text-align: left;
   font-family: var(--ff-para);
   font-size: var(--fs-xx-small);
   color: var(--clr-visible-text);
   margin-bottom: .5rem;
}
.grid-container1 > .box6 {
   margin-bottom: 1em;
}

/*Photo Gallery*/

.grid-container2 {
   display: grid;
   gap: 1rem;
   grid-template-columns: 1fr;
   padding-bottom: 5rem;
   margin: 0 1rem 1rem 1rem;

}
.photo {
   width: 90vw;
   height: calc(90vw * 4 / 3);
   margin: 0 auto;
 
}
.grid-container2 > .photo1:hover {
  box-shadow: 10px 10px 50px var(--clr-smoke-shadow);
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
	transition: 1s;
	z-index: 3;
 
}
 
.grid-container2 > .photo2:hover {
  box-shadow: 10px 10px 50px var(--clr-smoke-shadow);
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
	transition: 1s;
	z-index: 3;
 
}
.grid-container2 > .photo3:hover {
  box-shadow: 10px 10px 50px var(--clr-smoke-shadow);
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
	transition: 1s;
	z-index: 3;
 
}
.grid-container2 > .photo4:hover {
  box-shadow: 10px 10px 50px var(--clr-smoke-shadow);
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
	transition: 1s;
	z-index: 3;
 
}
.grid-container2 > .photo5:hover {
  box-shadow: 10px 10px 50px var(--clr-smoke-shadow);
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
	transition: 1s;
	z-index: 3;
 
}
.grid-container2 > .photo6:hover {
  box-shadow: 10px 10px 50px var(--clr-smoke-shadow);
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
	transition: 1s;
	z-index: 3;
 
}
.grid-container2 > .photo7:hover {
  box-shadow: 10px 10px 50px var(--clr-smoke-shadow);
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
	transition: 1s;
	z-index: 3;
 
}
.grid-container2 > .photo8:hover {
  box-shadow: 10px 10px 50px var(--clr-smoke-shadow);
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
	transition: 1s;
	z-index: 3;
 
}
.grid-container2 > .photo9:hover {
  box-shadow: 10px 10px 50px var(--clr-smoke-shadow);
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
	transition: 1s;
	z-index: 3;
 
}
.grid-container2 > .photo10:hover {
  box-shadow: 10px 10px 50px var(--clr-smoke-shadow);
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
	transition: 1s;
	z-index: 3;
 
}
.grid-container2 > .photo11:hover {
  box-shadow: 10px 10px 50px var(--clr-smoke-shadow);
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
	transition: 1s;
	z-index: 3;
 
}
.grid-container2 > .photo12:hover {
  box-shadow: 10px 10px 50px var(--clr-smoke-shadow);
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
	transition: 1s;
	z-index: 3;
 
}
.grid-container2 > .photo13:hover {
  box-shadow: 10px 10px 50px var(--clr-smoke-shadow);
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
	transition: 1s;
	z-index: 3;
 
}
.grid-container2 > .photo14:hover {
  box-shadow: 10px 10px 50px var(--clr-smoke-shadow);
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
	transition: 1s;
	z-index: 3;
 
}
.grid-container2 > .photo15:hover {
  box-shadow: 10px 10px 50px var(--clr-smoke-shadow);
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
	transition: 1s;
	z-index: 3;
 
}
.grid-container2 > .photo16:hover {
  box-shadow: 10px 10px 50px var(--clr-smoke-shadow);
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
	transition: 1s;
	z-index: 3;
 
}
.grid-container2 > .photo17:hover {
  box-shadow: 10px 10px 50px var(--clr-smoke-shadow);
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
	transition: 1s;
	z-index: 3;
 
}
.grid-container2 > .photo18:hover {
  box-shadow: 10px 10px 50px var(--clr-smoke-shadow);
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
	transition: 1s;
	z-index: 3;
 
}

/*Testimonials*/

.testimonials {
   width: 90%;
   height: auto;
   margin: 0 auto;
   font-family: var(--ff-para);
   font-weight: var(--fw-regular);
   color:var(--clr-visible-text);
   margin-bottom: 1rem;
}
.testimonials > .fa-quote-left {
   margin-left: 0;
   font-size: var(--fs-small); 
   padding-top: 1em;
   padding-bottom: 0.5em;
}
.testimonials > .comment {
   text-align: center;
   font-size: var(--fs-x-small);  
}
.testimonials > .fa-quote-right {
   margin-left: 100%;
   font-size: var(--fs-small); 
   padding-bottom: 0.5em; 
}

/*Contact*/

.center {
   text-align:center;
   width:100%;
   font-family: var(--ff-para);
   font-weight: var(--fw-regular);
   color:var(--clr-visible-text);
   padding-top: 2rem;
   padding-bottom: 1rem;
   font-size: var(--fs-small);
}

.question {
   width: 66.7%;
   height: auto;
   margin: 0 auto;
   font-family: var(--ff-para);
   font-weight: var(--fw-regular);
   color:var(--clr-visible-text);
   margin-bottom: 1rem;
}

.question > .lead {
   text-align: center;
   font-size: var(--fs-x-small); 
}
.contact-form {
   width: 66.7%;
   height: auto;
   margin: 0 auto;
   font-family: var(--ff-para);
   font-weight: var(--fw-regular);
   color:var(--clr-visible-text);
   padding-bottom: 2rem;
   margin-bottom: 1rem;
}
.input-group {
      display: -ms-flexbox; /* IE10 */
      display: flex;
      width: 100%;
      outline: none;
      margin-bottom: 2em;
      border: none;
}
.input-group-text {
   padding: 10px;
   background: var(--clr-visible-text);
   color: var(--clr-bg);
   min-width: 50px;
   text-align: center;
   font-size: var(--fs-x-small);
 }
.form-label{
   font-family: var(--ff-headings);
   text-align: left;
   font-size: var(--fs-x-small);
}
.form-control {
   width: 95%;
   padding: 0.5em;
   background-color: var(--clr-bg);
   outline: none;
   border: none;
   border: solid 0.1em var(--clr-visible-text-pale);
}
.form-control:focus {
   border: solid 0.2em var(--clr-visible-text);
   border-radius: 0;
}
.form-select {
   background-color: var(--clr-bg);
   font-family: var(--ff-para);
   font-size: var(--fs-x-small);
   color: var(--clr-visible-text);
   border: none;
   border-radius: 0;
   border:solid 0.1em var(--clr-visible-text-pale); 
}
.form-select:focus {
   border: solid 0.2em var(--clr-visible-text);
   border-radius: 0;
}
 
::placeholder {
   font-family: var(--ff-para);
   font-size: var(--fs-x-small);
   color: var(--clr-visible-text-pale);
}
.icon {
   font-size: var(--fs-x-small);
}
button {
   width: 100%;
   background-color: var(--clr-bg);
   color: var(--clr-visible-text);
   margin: 1em 0 1em 0;
   padding: 1em 0 1em 0;
   font-family: var(--ff-para);
   font-size: var(--fs-x-small);
   outline: none;
   border: none;
   border: solid 0.1em var(--clr-visible-text-pale);
}
.button:hover {
   background-color: var(--clr-visible-text);
   color: var(--clr-bg);
   border-radius: 0;
}
 /* @media queries*/


 @media (min-width: 375px) { 
   .subdisplay h2 {
      font-size: var(--fs-small);
      padding: 0.3em;
    }
 }

 @media (min-width: 425px) {
    .subdisplay h2 {
      font-size: var(--fs-s-med);
    }
    .display #hamburger {
      font-size: var(--fs-s-med);
    }
    .grid-container2 {
      grid-template-columns: 1fr 1fr;
      column-gap: 1rem;
    }
    .photo {
      width: 45vw;
      height: calc(45vw * 4 / 3);
    }
    .grid-container2 > .photo1:hover,
    .grid-container2 > .photo2:hover,
    .grid-container2 > .photo3:hover,
    .grid-container2 > .photo4:hover,
    .grid-container2 > .photo5:hover,
    .grid-container2 > .photo6:hover, 
    .grid-container2 > .photo7:hover,
    .grid-container2 > .photo8:hover,
    .grid-container2 > .photo9:hover,
    .grid-container2 > .photo10:hover,
    .grid-container2 > .photo11:hover,
    .grid-container2 > .photo12:hover, 
    .grid-container2 > .photo13:hover,
    .grid-container2 > .photo14:hover,
    .grid-container2 > .photo15:hover,
    .grid-container2 > .photo16:hover,
    .grid-container2 > .photo17:hover,
    .grid-container2 > .photo18:hover {
      transform: scale(1.2);
    }
    .testimonials > #open,
    .testimonials > #close {
      font-size: var(--fs-s-med);
    }
    
    .navbar a,
    .grid-container1 > p,
    .testimonials > .comment,
    .question > .lead,
    .input-group-text,
    .form-label,
    .form-select,
    ::placeholder, 
    .icon,
    .button {
      font-size: var(--fs-small)
    }
    .center {
      font-size: var(--fs-s-med);
    }
 }


 @media (min-width: 465px){
   .display h1 {
      font-size: var(--fs-small);
  }
 }
 
 @media (min-width: 640px) {
    .display h1 {
        font-size: var(--fs-s-med);
    } 
    .display #hamburger {
      font-size: var(--fs-med);
    }
    .subdisplay h2 {
      font-size: var(--fs-med);
      padding: 0.4em;
    }
    .testimonials > #open,
    .testimonials > #close {
      font-size: var(--fs-med);
    }
    .navbar a,
    .grid-container1 > p,
    .testimonials > .comment,
    .question > .lead,
    .input-group-text,
    .form-label,
    .form-select,
    ::placeholder, 
    .icon,
    .button {
      font-size: var(--fs-s-med)
    }
    
    .center {
      font-size: var(--fs-med);
    }
    .grid-container1 {
      grid-template-areas: 
            'box1 box1'
            'box2 box2'
            'box3 box4'
            'box5 box5'
            'box6 box6';
      
    }
    .grid-container2 {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1rem;
    }
    .photo {
      width: 30vw;
      height: calc(30vw * 4 / 3)
    }
    .grid-container2 > .photo1:hover,
    .grid-container2 > .photo2:hover,
    .grid-container2 > .photo3:hover,
    .grid-container2 > .photo4:hover,
    .grid-container2 > .photo5:hover,
    .grid-container2 > .photo6:hover, 
    .grid-container2 > .photo7:hover,
    .grid-container2 > .photo8:hover,
    .grid-container2 > .photo9:hover,
    .grid-container2 > .photo10:hover,
    .grid-container2 > .photo11:hover,
    .grid-container2 > .photo12:hover, 
    .grid-container2 > .photo13:hover,
    .grid-container2 > .photo14:hover,
    .grid-container2 > .photo15:hover,
    .grid-container2 > .photo16:hover,
    .grid-container2 > .photo17:hover,
    .grid-container2 > .photo18:hover {
      transform: scale(1.4);
    }
 }

 @media (min-width: 1024px) {
    .display h1 {
        font-size: var(--fs-x-lge);
    } 
    .subdisplay h2 {
      font-size: var(--fs-lge);
    }
    .grid-container2 > .photo1:hover,
    .grid-container2 > .photo2:hover,
    .grid-container2 > .photo3:hover,
    .grid-container2 > .photo4:hover,
    .grid-container2 > .photo5:hover,
    .grid-container2 > .photo6:hover, 
    .grid-container2 > .photo7:hover,
    .grid-container2 > .photo8:hover,
    .grid-container2 > .photo9:hover,
    .grid-container2 > .photo10:hover,
    .grid-container2 > .photo11:hover,
    .grid-container2 > .photo12:hover, 
    .grid-container2 > .photo13:hover,
    .grid-container2 > .photo14:hover,
    .grid-container2 > .photo15:hover,
    .grid-container2 > .photo16:hover,
    .grid-container2 > .photo17:hover,
    .grid-container2 > .photo18:hover {
      transform: scale(1.5);
    }
    .testimonials > #open,
    .testimonials > #close {
      font-size: var(--fs-l-med);
    }
    .navbar a,
    .grid-container1 > p,
    .testimonials > .comment,
    .question > .lead,
    .input-group-text,
    .form-label,
    .form-select,
    ::placeholder, 
    .icon,
    .button {
      font-size: var(--fs-med)
    }
    .center {
      font-size: var(--fs-lge);
    }
    
 }
 @media (min-width: 1280px) {
    .display h1 {
        font-size: var(--fs-xx-lge);
    } 
    .subdisplay h2 {
      font-size: var(--fs-x-lge);
    }
   
 }
 @media (min-width: 1500px) {
    .display h1 {
        font-size: var(--fs-xxx-lge);
    } 
    .subdisplay h2 {
      font-size: var(--fs-xx-lge);
    }
    .grid-container2 {
      grid-template-columns: repeat(6, 1fr);
      column-gap: 1rem;
    }
    .photo {
      width: 15vw;
      height: calc(15vw * 4 / 3)
    }
    .testimonials > #open,
    .testimonials > #close {
      font-size: var(--fs-x-lge);
    }
    .navbar a,
    .grid-container1 > p,
    .testimonials > .comment,
    .question > .lead,
    .input-group-text,
    .form-label,
    .form-select,
    ::placeholder, 
    .icon,
    .button {
      font-size: var(--fs-lge)
    }
    .center {
      font-size: var(--fs-xxx-lge);
    }
 }
 
