:root {
    --ff-para: 'Noto Sans', sans-serif;
    --ff-display-tom: 'Noto Sans Display', sans-serif;
    --ff-headings: 'Noto Serif', serif;
    --ff-display-tats: 'Noto Serif Display', serif;

    --fs-xxx-lge: 3rem;
    --fs-xx-lge: 2.75rem;
    --fs-x-lge: 2.5rem;
    --fs-lge: 2.25rem;
    --fs-l-med: 2rem;
    --fs-med: 1.75rem;
    --fs-s-med: 1.5rem;
    --fs-small: 1.25rem;
    --fs-x-small: 1rem;
    --fs-xx-small: 0.75rem;

    --fw-bold: 700;
    --fw-semi-bold: 600;
    --fw-regular: 400;

    --clr-bg: hsl(29, 100%, 95%);
    --clr-head: hsl(29, 100%, 80%);
    --clr-smoke-shadow: hsl(29, 100%, 10%);
    --clr-invisible-text: hsl(29, 100%, 80%);
    --clr-visible-text: hsl(29, 100%, 20%);
    --clr-visible-text-pale: hsla(29, 100%, 20%, 0.5);
    --clr-visible-text-pale: hsla(29, 100%, 20%, 0.95);
}


/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
form, input, button, textarea, select {
  font: inherit;
  border: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/*
 end of Josh's Custom CSS Reset
 */

 /*Have to think about these!*/

 .nodisplay {
  display: none;
 }

 .wrapper-gallery {
  margin: 1em 1em;
 }
 .wrapper-gallery p {
  color: var(--clr-visible-text);
 }

 body {
    background-color: var(--clr-bg);
 }

 /* Set up the background image */
 .bg-img {
  height: 80vh;
  width: auto;
  position: fixed;
  top: 10vh;
  right:0;
  z-index: -1;
 }

 
 /* Set up for the new nav bar*/

 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .navbar .logo {
  font-family: var(--ff-headings);
  font-size: var(--fs-med);
  padding: 1em;
 }
.navlinks {
  display: flex;
  list-style-type: none;
}
.navbar .navlinks > .navitem > a {
  padding: 1.2em 0.4em;
  margin-left: 1em;
  text-decoration: none;
  color: var(--clr-visible-text);
  font-family: var(--ff-para);
  font-size: var(--fs-xx-small);
}
.navbar .navlinks > .navitem a:hover {
  background-color: var(--clr-visible-text);
  color: var(--clr-bg);
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
} 
 #hamburger  {
  position: fixed;
  top: 0;
  right:0;
  color: var(--clr-visible-text);
  z-index: 10;
  font-size: var(--fs-xx-small);
  cursor: pointer;
  transition: margin-left .5s;
  margin-top: 1rem;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;
}
 #hamburger:hover {
  background-color: var(--clr-visible-text);
  color: var(--clr-bg);
}


 /*setup for the header*/

 .display {
    position: relative;
    width: 100%;
    height: 12vw;
    border-bottom: 1vw solid var(--clr-visible-text);
 }
  .display h1 {
    color: var(--clr-invisible-text);
    text-shadow: 0 0 .5vw var(--clr-smoke-shadow), 0 0 1vw var(--clr-smoke-shadow), 0 0 1.5vw var(--clr-smoke-shadow), 0 0 2vw var(--clr-smoke-shadow), 0 0 2.5vw var(--clr-smoke-shadow), 0 0 3vw var(--clr-smoke-shadow);
    letter-spacing: 0.5vw;
    position: absolute;
    top: -2vh;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--ff-display-tats);
    font-size: var(--fs-xx-small);
    font-weight: var(--fw-bold);
    padding: 2em;
 }

 /*set up for the lead photo*/

 .leadphoto {
  width:40%;
  height:auto;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em; 
}

 /* Set up for the main part of the 'Home Page*/
 
 .grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "a2"
  "a1"
  "b1" 
  "b2"
  "c2"
  "c1" 
  "d1" 
  "d2"
  "e1" 
  "e2" 
  "e3";
  gap: 1em;
  min-height: 50vh;
  width: 90vw;
  margin: auto;
  overflow: hidden;
  z-index: 1;
 margin-bottom: 1em;
 }
.a1 {
    grid-area: a1;
    background: url("assets/background-img.jpg");
    min-height: 50vh;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.a2 {
    grid-area: a2;
    min-height: 50vh;
    background-color: var(--clr-visible-text);
    color: var(--clr-bg);
    text-align: center;
}
.a2 h2 {
    text-transform: uppercase;
    font-family: var(--ff-headings);
    padding: 0.5em; 
  }
.a2 p{
    font-family: var(--ff-para);
    font-size: var(--fs-x-small);
    padding: 0.75em 0.5em;
    text-align: justify;
}
.a2 button {
    width:fit-content;
    height: fit-content;
    padding:0.5em;
    border-radius: 0.5em;
    text-transform: uppercase;
}
.a2 button:hover {
    cursor: pointer;
    color: var(--clr-bg);
    background-color: var(--clr-visible-text);
    border: 0.1em solid var(--clr-bg);
}
.b1 {
    grid-area: b1;
    min-height: 50vh;
    background-color: var(--clr-visible-text);
    color: var(--clr-bg);
    text-align: center;
}
.b1 h2 {
    text-transform: uppercase;
    font-family: var(--ff-headings);
    padding: 0.5em;
}
.b1 p{
    font-family: var(--ff-para);
    font-size: var(--fs-x-small);
    padding: 0.75em 0.5em;
    text-align: justify;
}
.b1 button {
    width:fit-content;
    height: fit-content;
    padding:0.5em;
    border-radius: 0.5em;
    text-transform: uppercase;
}
.b1 button:hover {
    cursor: pointer;
    color: var(--clr-bg);
    background-color: var(--clr-visible-text);
    border: 0.1em solid var(--clr-bg);
}

.b2 {
    grid-area: b2;
    min-height: 50vh;
    background: url("assets/background-img2.jpg");
    min-height: 50vh;
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}
.c1 {
    grid-area: c1;
    min-height: 50vh;
    background: url("assets/background-img4.jpg");
    min-height: 50vh;
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }
.c2 {
    grid-area: c2;
    min-height: 50vh;
    background-color: var(--clr-visible-text);
    color: var(--clr-bg);
    text-align: center;
}
.c2 h2 {
    text-transform: uppercase;
    font-family: var(--ff-headings);
    padding: 0.5em;
}
.c2 p{
    font-family: var(--ff-para);
    font-size: var(--fs-x-small);
    padding: 0.75em 0.5em;
    text-align: justify;
}
.c2 button {
    width:fit-content;
    height: fit-content;
    padding:0.5em;
    border-radius: 0.5em;
    text-transform: uppercase;
}
.c2 button:hover {
    cursor: pointer;
    color: var(--clr-bg);
    background-color: var(--clr-visible-text);
    border: 0.1em solid var(--clr-bg);
}
.d1 {
    grid-area: d1;
    min-height: 50vh;
    background-color: var(--clr-visible-text);
    color: var(--clr-bg);
    text-align: center;
}
  .d1 h2 {
    text-transform: uppercase;
    font-family: var(--ff-headings);
    padding: 0.5em; 
}
.d1 p{
    font-family: var(--ff-para);
    font-size: var(--fs-x-small);
    padding: 0.75em 0.5em;
    text-align: justify;
}
.d1 button {
    width:fit-content;
    height: fit-content;
    padding:0.5em;
    border-radius: 0.5em;
    text-transform: uppercase;
 }
.d1 button:hover {
    cursor: pointer;
    color: var(--clr-bg);
    background-color: var(--clr-visible-text);
    border: 0.1em solid var(--clr-bg);
}
.d2 {
    grid-area: d2;
    min-height: 50vh;
    background: url("assets/background-img5.jpg");
    min-height: 50vh;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
  }
.e1 {
    grid-area: e1;
    min-height: 50vh;
    background-color: var(--clr-visible-text);
    color: var(--clr-bg);
    text-align: center;
} 
.e1 h2 {
    text-transform: uppercase;
    font-family: var(--ff-headings);
    padding: 0.5em;
}
.e1 p{
    font-family: var(--ff-para);
    font-size: var(--fs-x-small);
    padding: 0.75em 0.5em;
    text-align: justify;
}
.e1 button {
    width:fit-content;
    height: fit-content;
    padding:0.5em;
    border-radius: 0.5em;
    text-transform: uppercase;
}
  .e1 button:hover {
    cursor: pointer;
    color: var(--clr-bg);
    background-color: var(--clr-visible-text);
    border: 0.1em solid var(--clr-bg);
}
.e2 {
    grid-area: e2;
    min-height: 50vh;
    
}
.e3 {
    grid-area: e3;
    min-height: 50vh;
    background-color: var(--clr-visible-text);
    color: var(--clr-bg);
    text-align: center;
} 
.e3 h2 {
    text-transform: uppercase;
    font-family: var(--ff-headings);
    padding: 0.5em;
}
.e3 p{
    font-family: var(--ff-para);
    font-size: var(--fs-x-small);
    padding: 0.75em 0.5em;
    text-align: justify;
}
  .e3 button {
    width:fit-content;
    height: fit-content;
    padding:0.5em;
    border-radius: 0.5em;
    text-transform: uppercase;
}
.e3 button:hover {
    cursor: pointer;
    color: var(--clr-bg);
    background-color: var(--clr-visible-text);
    border: 0.1em solid var(--clr-bg);
}

 /* set up for the subdisplays all pages */
 
 .subdisplay {
   position: relative;
   width: 70%;
   height: auto;
   background-color: var(--clr-bg);
   margin: 0 auto;
}
.subdisplay h2 {
   color: var(--clr-visible-text);
   text-align: center;
   font-family: var(--ff-headings);
   font-size: var(--fs-xx-small);
   font-weight: var(--fw-semi-bold);
   padding: 0.75em;
 }

 /* Set up for the 'About Page' */


/* Set up for the 'Realistic Gallery Page'*/



/* Set up for the 'Testimonials Page'*/


/* Set up for the 'Contact Page' */


 /* Set up for the Footer on all pages */

 .footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 25vh;
  border-top: 1vw solid var(--clr-visible-text);
  padding-top: 2em;
 }
 .flex-container {
  display: flex;
  flex-direction: column;
  text-align: center;
 }
 .flex-container p {
  color: var(--clr-visible-text);
  font-family: var(--ff-para);
 }

 /* @media queries*/

 @media (min-width: 375px) { 
  .subdisplay h2 {
     font-size: var(--fs-small);
     padding: 0.3em;
   }
}

@media (min-width: 425px) {
   .subdisplay h2 {
     font-size: var(--fs-s-med);
   }
   .testimonials > #open,
   .testimonials > #close {
     font-size: var(--fs-s-med);
   }
   .navbar a,
   .grid-container1 > p,
   .testimonials > .comment,
   .question > .lead,
   .input-group-text,
   .form-label,
   .form-select,
   ::placeholder, 
   .icon,
   .button {
     font-size: var(--fs-small)
   }
   .center {
     font-size: var(--fs-s-med);
   }
}




@media (min-width: 640px) {
   .display h1 {
       font-size: var(--fs-small);
   } 
   .subdisplay h2 {
     font-size: var(--fs-med);
     padding: 0.4em;
   }
   .testimonials > #open,
   .testimonials > #close {
     font-size: var(--fs-med);
   }
   .navbar a,
   .display h1,
   .grid-container1 > p,
   .testimonials > .comment,
   .question > .lead,
   .input-group-text,
   .form-label,
   .form-select,
   ::placeholder, 
   .icon,
   .button {
     font-size: var(--fs-small)
   }
   .center {
     font-size: var(--fs-med);
   }
} 
@media (min-width: 820px) {
  #hamburger {
    display: none;
  } 
  .display h1 {
    font-size: var(--fs-s-med);
  }
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "a1 a1 a2"
      "b1 b2 b2"
      "c1 c1 c2"
      "d1 d2 d2"
      "e1 e2 e3";
  }
}

 @media (max-width: 820px) {
    .bg-img,
    .navbar {
      display: none;
    }
}

@media (min-width: 1024px) {
  .display h1 {
      font-size: var(--fs-l-med);
  } 
  .subdisplay h2 {
    font-size: var(--fs-lge);
  }
 

    .testimonials > #open,
  .testimonials > #close {
    font-size: var(--fs-l-med);
  }
  .navbar a,
  .grid-container1 > p,
  .testimonials > .comment,
  .question > .lead,
  .input-group-text,
  .form-label,
  .form-select,
  ::placeholder, 
  .icon,
  .button {
    font-size: var(--fs-med)
  }
  .center {
    font-size: var(--fs-lge);
  }
  
}
@media (min-width: 1280px) {
  .display h1 {
      font-size: var(--fs-lge);
  } 
  .subdisplay h2 {
    font-size: var(--fs-x-lge);
  }
 
}
 @media (min-width: 1500px) {
  .display h1 {
      font-size: var(--fs-x-lge);
  } 
  .subdisplay h2 {
    font-size: var(--fs-xx-lge);
  }
  .testimonials > #open,
  .testimonials > #close {
    font-size: var(--fs-x-lge);
  }
  .navbar a,
  .grid-container1 > p,
  .testimonials > .comment,
  .question > .lead,
  .input-group-text,
  .form-label,
  .form-select,
  ::placeholder, 
  .icon,
  .button {
    font-size: var(--fs-lge)
  }
  .center {
    font-size: var(--fs-xxx-lge);
  }
}



 
 

 /* Set up for the hamburger menu

 


  /*set up for the navbar*/

/*nav {
    transition: background-color 0.5s;
 }
 nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: var(--clr-visible-text);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
 }
 nav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: var(--fs-x-small);
    color: var(--clr-bg);
    display: block;
    transition: 0.3s;
 }
 nav a:hover {
    font-weight: var(--fw-semi-bold);
    text-decoration-line: underline;
 }
 ul {
   list-style-type: none;
 }*/
 
 